@model ForgotPasswordViewModel
@{
    Layout = "_SigninLayout";
}

<div class="card-body">
    <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>

    <form asp-action="ForgotPassword" method="post">
        <div class="input-group mb-3">
            <input asp-for="SigninUser" type="text" class="form-control" placeholder="Phone / Eamil">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user-secret"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input asp-for="VerificationCode" type="text" class="form-control" placeholder="Verify Code">
            <div class="input-group-append">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="fas fa-paper-plane"></span>
                    <span>Send Code</span>
                </button>
            </div>
        </div>
        <div class="input-group mb-3">
            <input asp-for="NewlyPassword" type="password" class="form-control" placeholder="Newly Password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input asp-for="DeterminePassword" type="password" class="form-control" placeholder="Determine password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Change password</button>
            </div>
        </div>
    </form>
</div>