<!DOCTYPE html>

<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PRealm Log in</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
    <link rel="stylesheet" href="~/css/fontawesome-free/all.min.css">
    <link rel="stylesheet" href="~/css/fontawesome-free/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h1><b>PRealm</b> <span>Logistics</span></h1>
            </div>
            @RenderBody()
        </div>
    </div>

    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte/adminlte.min.js"></script>
</body>
</html>